* {
  background-color: #1f2937;
  padding: 0px 85px 50px;
}

a,
li,
h1 {
  color: hsl(90, 17%, 98%);
  text-decoration: none;
  margin: 0;
  padding: 0;
}
p {
  color: #e5e5e5;
  margin: 0;
  padding: 0;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 95px 0 95px;
  margin: 0;
}

header .logo {
  font-size: 24px;
}

.navbar-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navbar-container li {
  display: inline;
  margin: 5px;
  list-style-type: none;
  font-size: 18px;
}

.navbar-container a:hover {
  color: #fff; /* Change the text color on hover */
}

.navbar-container a:hover {
  color: gold;
}

/* Section 1st page */

section {
  display: flex;
  flex-direction: row;
  /* background-color: whitesmoke; */
  justify-content: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /* background-color: green; */
  height: 300px;
  width: 600px;
  padding: 0;
}

.container h1 {
  font-size: 48px;
}

.container img {
  display: flex;
  height: 300px;
  width: 600px;
  padding-right: 0;
  padding-left: 0;
}

.container button {
  display: flex;
  background-color: #3882f6;
  color: hsl(90, 17%, 98%);
  padding: 6px 32px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  margin: 10px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 35px;
  width: 125px;
}

.container button:hover {
  background-color: white;
  color: black;
}
