body {
  background-color: #1f2937;
  margin: 0;
  color: #f9faf8;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

h2,
li {
  font-size: 18px;
  color: #e5e7eb;
}
.navbar,
.container,
.second-container {
  padding: 0 400px 20px 400px;
}
/* Navigation Bar */
.navbar {
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar .logo {
  font-size: 24px;
  color: #f9faf8;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-left: 15px;
}

.navbar a {
  text-decoration: none;
  color: #f9faf8;
}

.navbar .headlinks a:hover {
  color: slategray;
}

/* Hero Main Page */
.container {
  display: flex;
  height: 50vh;
  justify-content: space-between;
  padding-top: 50px;
}

.hero-container,
.img-container {
  max-width: 1200px;
  color: #fff;
}
/* .hero-container {
  background-color: black;
}
.img-container {
  background-color: white;
} */
.hero-container h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.hero-container p {
  font-size: 18px;
  color: #e5e7eb;
}

.img-container img {
  width: 580px;
  height: 300px;
}
/* Second Mainpage */

.second-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.second-container header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.second-container .contain-box {
  display: flex;
  width: 500px;
  padding: 20px;
  /* border: 1px solid #ccc;
  background-color: #f9b3f2; */
  width: 200vh;
  justify-content: space-between;
}

.contain-box .flower-image {
  width: 45vh;
  height: 50vh;
  border-radius: 10%;
  border: 5px solid #3882f6;
}
